{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>CheatingNot</title>
    <link rel="stylesheet" href="{% static 'products/style.css' %}">
</head>
<body class="main-body">
<header class="header">
    <div class="top-header">
        <ul class="login-box">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Register</a></li>
        </ul>
    </div>
    <div class="header-logo">
        <a href="#" class="discount-logo">Discount India</a>
        <div class="search-box">
            <!-- Left -->
            <div class="dropdown">
                <button class="dropbtn">Categary</button>
                <!--  <div class="dropdown-content">
                    <ul>
                       <li > <a href="#" class="list-heading">Mobile </a>  </li>
                       <li>  <a href="#">Mobile </a></li>
                       <li><a href="#">Laptops</a></li>
                       <li> <a href="#">Camera</a></li>
                       <li>  <a href="#"> Tvs   </a></li>
                       <li> <a href="#"> Refrigerator   </a></li>
                    </ul>
                    <ul>
                       <li > <a href="#" class="list-heading">Laptops  </a>  </li>
                       <li>  <a href="#">Mobile </a></li>
                       <li><a href="#">Laptops</a></li>
                       <li> <a href="#">Camera</a></li>
                       <li>  <a href="#"> Tvs   </a></li>
                       <li> <a href="#"> Refrigerator   </a></li>
                    </ul>
                    <ul>
                       <li > <a href="#" class="list-heading">Camera </a></li>
                       <li>  <a href="#">Mobile </a></li>
                       <li><a href="#">Laptops</a></li>
                       <li> <a href="#">Camera</a></li>
                       <li>  <a href="#"> Tvs   </a></li>
                       <li> <a href="#"> Refrigerator   </a></li>
                    </ul>
                    <ul>
                       <li> <a href="#" class="list-heading" >Tvs </a></li>
                       <li>  <a href="#">Mobile </a></li>
                       <li><a href="#">Laptops</a></li>
                       <li> <a href="#">Camera</a></li>
                       <li>  <a href="#"> Tvs   </a></li>
                       <li> <a href="#"> Refrigerator   </a></li>
                    </ul>
                 </div>-->
            </div>
        </div>
        <form>
            <div class="search-input-box">
                <input class="search-input" type="text" placeholder="Find special food etc.">
                <a href="#" class="srch-btn">Search</a>
            </div>
        </form>
    </div>
</header>
<nav></nav>
<section class="slider">
    <img src="{% static 'img/bgfood.jpg' %}" class="slider-img">
</section>
<section class="content-box">
    <div class="product-box">
        <div class="product-nav">
            <h2><a href="#">Popular Thali</a> <a href="#" class="view-all">View All</a></h2>
        </div>
        <div class="product-list">
            <div class="item-box">
                <span class="item-name">Aalohir Exaj / Assamese Thali</span>
                <span class="item-price">Price : 200</span>
                <img src="{% static 'img/thali1.jpg' %}" class="item-img">
                <span class="item-rating">Star</span>
                <span class="item-compare">View</span>
            </div>
            <div class="item-box">
                <span class="item-name">Andhra Thali</span>
                <span class="item-price">Price : 300</span>
                <img src="{% static 'img/thali2.jpg' %}" class="item-img">
                <span class="item-rating">Star</span>
                <span class="item-compare">View</span>
            </div>
            <div class="item-box">
                <span class="item-name">Bengali Thali</span>
                <span class="item-price">Price : 200</span>
                <img src="{% static 'img/thali3.jpg' %}" class="item-img">
                <span class="item-rating">Star</span>
                <span class="item-compare">View</span>
            </div>
            <div class="item-box">
                <span class="item-name">Bhojpuri Thali</span>
                <span class="item-price">Price : 250</span>
                <img src="{% static 'img/thali4.jpg' %}" class="item-img">
                <span class="item-rating">Star</span>
                <span class="item-compare">View</span>
            </div>
            <div class="item-box">
                <span class="item-name">Chettinad Thali</span>
                <span class="item-price">Price : 140</span>
                <img src="{% static 'img/thali5.jpg' %}" class="item-img">
                <span class="item-rating">Star</span>
                <span class="item-compare">View</span>
            </div>
        </div>
    </div>
</section>
<section class="content-box">
    <div class="product-box">
        <div class="product-nav">
            <h2><a href="#">Popular Pizza</a> <a href="#" class="view-all">View All</a></h2>
        </div>
        <div class="product-list">
            <div class="item-box">
                <span class="item-name">Margherita</span>
                <span class="item-price">Price : 500</span>
                <img src="{% static 'img/p1.jpg' %}" class="item-img">
                <span class="item-rating">Star</span>
                <span class="item-compare">View</span>
            </div>
            <div class="item-box">
                <span class="item-name">Marinara</span>
                <span class="item-price">Price : 600</span>
                <img src="{% static 'img/p2.jpg' %}" class="item-img">
                <span class="item-rating">Star</span>
                <span class="item-compare">View</span>
            </div>
            <div class="item-box">
                <span class="item-name">Quattro Stagioni</span>
                <span class="item-price">Price : 600</span>
                <img src="{% static 'img/p3.jpg' %}" class="item-img">
                <span class="item-rating">Star</span>
                <span class="item-compare">View</span>
            </div>
            <div class="item-box">
                <span class="item-name">Carbonara</span>
                <span class="item-price">Price : 700</span>
                <img src="{% static 'img/p4.jpg' %}" class="item-img">
                <span class="item-rating">Star</span>
                <span class="item-compare">View</span>
            </div>
            <div class="item-box">
                <span class="item-name">Frutti di Mare</span>
                <span class="item-price">Price : 500</span>
                <img src="{% static 'img/p5.jpg' %}" class="item-img">
                <span class="item-rating">Star</span>
                <span class="item-compare">View</span>
            </div>
        </div>
    </div>
</section>
<section class="content-box">
    <div class="product-box">
        <div class="product-nav">
            <h2><a href="#">Popular Chinese</a> <a href="#" class="view-all">View All</a></h2>
        </div>
        <div class="product-list">
            <div class="item-box">
                <span class="item-name">Chinese noodles</span>
                <span class="item-price">Price : 300</span>
                <img src="{% static 'img/c1.jpg' %}" class="item-img">
                <span class="item-rating">Star</span>
                <span class="item-compare">View</span>
            </div>
            <div class="item-box">
                <span class="item-name">Chow mein</span>
                <span class="item-price">Price : 300</span>
                <img src="{% static 'img/c2.jpg' %}" class="item-img">
                <span class="item-rating">Star</span>
                <span class="item-compare">View</span>
            </div>
            <div class="item-box">
                <span class="item-name">Chow mein</span>
                <span class="item-price">Price : 400</span>
                <img src="{% static 'img/c3.jpg' %}" class="item-img"/>
                <span class="item-rating">Star</span>
                <span class="item-compare">View</span>
            </div>
            <div class="item-box">
                <span class="item-name">Kung Pao chicken</span>
                <span class="item-price">Price : 300</span>
                <img src="{% static 'img/c4.jpg' %}" class="item-img"/>
                <span class="item-rating">Star</span>
                <span class="item-compare">View</span>
            </div>
            <div class="item-box">
                <span class="item-name">Peking Duck</span>
                <span class="item-price">Price :400</span>
                <img src="{% static 'img/c5.jpg' %}" class="item-img"/>
                <span class="item-rating">Star</span>
                <span class="item-compare">View</span>
            </div>
        </div>
    </div>
</section>
{#<footer class="footer">#}
{#    <div class="footer-box">#}
{#        <ul class="social-icons">#}
{#            <li class="facebook-l"><a href="#">F</a></li>#}
{#            <li class="instagram-l"><a href="#">I</a></li>#}
{#            <li class="linkdin-l"><a href="#">L</a></li>#}
{#            <li class="twitter-l"><a href="#">T</a></li>#}
{#        </ul>#}
{#    </div>#}
{#    <div class="footer-links">#}
{#        <ul class="footer-list">#}
{#            <li><a href="#">About us</a></li>#}
{#            <li><a href="#">Blog</a></li>#}
{#            <li><a href="#">Contact us</a></li>#}
{#            <li><a href="#">Career</a></li>#}
{#            <li><a href="#">Terms & Condition</a></li>#}
{#            <li><a href="#">Privacy Policy</a></li>#}
{#        </ul>#}
{#    </div>#}
{#</footer>#}
</body>
