{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'products/style.css' %}">
</head>
<body class="main-body">
{% block body %}
{% endblock %}
</body>
</html>