{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block body %}
    {% include 'nav.html' %}
    <section class="slider">
        <img src="{% static 'products/img/bgfood.jpg' %}" class="slider-img">
    </section>
    <section class="content-box">
        <div class="product-box">
            <div class="product-nav">
                <h2><a href="/product-details/Thali">Popular Thali </a>
                    <a href="/product-details/Thali" class="view-all">View All</a></h2>
            </div>
            <div class="product-list">
                {% for thali in thalis %}
                    <div class="item-box">
                        <span class="item-name">{{ thali.name }}</span>
                        <span class="item-price">{{ thali.price }}</span>
                        <img src="{{ thali.img.url }}" class="item-img">
                        <span class="item-rating">Star</span>
                        <span class="item-compare"><a href="details/{{ thali.slug }}">View</a></span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="content-box">
        <div class="product-box">
            <div class="product-nav">
                <h2>
                    <a href="/product-details/pizza">Popular Pizza</a>
                    <a href="/product-details/pizza" class="view-all">View All</a>
                </h2>
            </div>
            <div class="product-list">
                {% for pizza in pizzas %}
                    <div class="item-box">
                        <span class="item-name">{{ pizza.name }}</span>
                        <span class="item-price">{{ pizza.price }}</span>
                        <img src="{{ pizza.img.url }}" class="item-img">
                        <span class="item-rating">Star</span>
                        <span class="item-compare"><a href="details/{{ pizza.slug }}">View</a></span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="content-box">
        <div class="product-box">
            <div class="product-nav">
                <h2>
                    <a href="/product-details/Chinese">Popular Chinese</a>
                    <a href="/product-details/Chinese" class="view-all">View All</a>
                </h2>
            </div>
            <div class="product-list">
                {% for chinese in chineses %}
                    <div class="item-box">
                        <span class="item-name">{{ chinese.name }}</span>
                        <span class="item-price">{{ chinese.price }}</span>
                        <img src="{{ chinese.img.url }}" class="item-img">
                        <span class="item-rating">Star</span>
                        <span class="item-compare"><a href="details/{{ chinese.slug }}">View</a></span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer-box">
            <ul class="social-icons">
                <li class="facebook-l"><a href="#">F</a></li>
                <li class="instagram-l"><a href="#">I</a></li>
                <li class="linkdin-l"><a href="#">L</a></li>
                <li class="twitter-l"><a href="#">T</a></li>
            </ul>
        </div>
        <div class="footer-links">
            <ul class="footer-list">
                <li><a href="#">About us</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Career</a></li>
                <li><a href="#">Terms & Condition</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
    </footer>
{% endblock %}