    <header class="header">
        <div class="top-header">
            <ul class="login-box">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
            </ul>
        </div>
        <div class="header-logo">
            <a href="{% url 'home' %}" class="discount-logo">Discount India</a>
            <div class="search-box">
                <!-- Left -->
                <div class="dropdown">
                    <button class="dropbtn">Categary</button>
{#                    <div class="dropdown-content">#}
{#                        <ul>#}
{#                            <li><a href="#" class="list-heading">South Indian</a></li>#}
{#                            <li><a href="#">Vada Pao </a></li>#}
{#                            <li><a href="#">Laptops</a></li>#}
{#                            <li><a href="#">Camera</a></li>#}
{#                            <li><a href="#"> Tvs </a></li>#}
{#                            <li><a href="#"> Refrigerator </a></li>#}
{#                        </ul>#}
{#                        <ul>#}
{#                            <li><a href="#" class="list-heading">Chinese </a></li>#}
{#                            <li><a href="#">Mobile </a></li>#}
{#                            <li><a href="#">Laptops</a></li>#}
{#                            <li><a href="#">Camera</a></li>#}
{#                            <li><a href="#"> Tvs </a></li>#}
{#                            <li><a href="#"> Refrigerator </a></li>#}
{#                        </ul>#}
{#                        <ul>#}
{#                            <li><a href="#" class="list-heading">Thali </a></li>#}
{#                            <li><a href="#">Mobile </a></li>#}
{#                            <li><a href="#">Laptops</a></li>#}
{#                            <li><a href="#">Camera</a></li>#}
{#                            <li><a href="#"> Tvs </a></li>#}
{#                            <li><a href="#"> Refrigerator </a></li>#}
{#                        </ul>#}
{#                        <ul>#}
{#                            <li><a href="#" class="list-heading">Non-Veg </a></li>#}
{#                            <li><a href="#">Mobile </a></li>#}
{#                            <li><a href="#">Laptops</a></li>#}
{#                            <li><a href="#">Camera</a></li>#}
{#                            <li><a href="#"> Tvs </a></li>#}
{#                            <li><a href="#"> Refrigerator </a></li>#}
{#                        </ul>#}
{#                    </div>#}
                </div>
            </div>
            <form>
                <div class="search-input-box">
                    <input class="search-input" type="text" placeholder="Find special food etc.">
                    <a href="#" class="srch-btn">Search</a>
                </div>
            </form>
        </div>
    </header>
{#    <nav>#}
{#        <ul class="menu-n">#}
{#            <li><a href="#">Chinese</a></li>#}
{#            <li><a href="#">Southindian</a></li>#}
{#            <li class="active"><a href="">Thali</a></li>#}
{#            <li><a href="#">Non-veg</a></li>#}
{#            <li><a href="#">Soup</a></li>#}
{#            <li><a href="#">Pizza</a></li>#}
{#            <li><a href="#">Special-food</a></li>#}
{#            <li><a href="#">Pizza</a></li>#}
{#        </ul>#}
{#    </nav>#}