{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block body %}
    {% include 'nav.html' %}
    <section class="product-container">
        <div class="product-b">
            <h1>Special Thali</h1>
            <div class="breadcrumb-box">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Thali</a></li>

                    <li>Special thali</li>
                </ul>
            </div>
            <div class="brand-product-list">
                <div class="filter-box">
                    <div class="filter-box-heading">Filter</div>
                    <div class="f-box">
                        <div class="heading">South Indian</div>
                        <ul class="filter-l">
                            <li><label><input type="checkbox"> Masala Dosa</label></li>
                            <li><label><input type="checkbox"> Onion Dosa</label></li>
                        </ul>
                    </div>
                    <div class="f-box">
                        <div class="heading">Chinese</div>
                        <ul class="filter-l">
                            <li><label><input type="checkbox"> Dim Sums</label></li>
                            <li><label><input type="checkbox"> Quick Noodles</label></li>
                            <li><label><input type="checkbox"> Szechwan Chilli Chicken</label></li>
                            <li><label><input type="checkbox"> Spring Rolls</label></li>
                            <li><label><input type="checkbox"> Stir Fried Tofu with Rice</label></li>
                            <li><label><input type="checkbox"> Shitake Fried Rice with Water Chestnuts</label></li>
                            <li><label><input type="checkbox"> Chicken with Chestnuts</label></li>
                        </ul>
                    </div>
                    <div class="f-box">
                        <div class="heading">Thali</div>
                        <ul class="filter-l">
                            <li><label><input type="checkbox">Special-thali</label></li>
                            <li><label><input type="checkbox"> Non-veg thali</label></li>
                            <li><label><input type="checkbox"> Veg thali</label></li>
                        </ul>
                    </div>
                    <div class="f-box">
                        <div class="heading">South Indian</div>
                        <ul class="filter-l">
                            <li><label><input type="checkbox"> Masala Dosa</label></li>
                            <li><label><input type="checkbox"> Onion Dosa</label></li>
                        </ul>
                    </div>
                    <div class="f-box">
                        <div class="heading">Chinese</div>
                        <ul class="filter-l">
                            <li><label><input type="checkbox"> Dim Sums</label></li>
                            <li><label><input type="checkbox"> Quick Noodles</label></li>
                            <li><label><input type="checkbox"> Szechwan Chilli Chicken</label></li>
                            <li><label><input type="checkbox"> Spring Rolls</label></li>
                            <li><label><input type="checkbox"> Stir Fried Tofu with Rice</label></li>
                            <li><label><input type="checkbox"> Shitake Fried Rice with Water Chestnuts</label></li>
                            <li><label><input type="checkbox"> Chicken with Chestnuts</label></li>
                        </ul>
                    </div>

                    <div class="f-box">
                        <div class="heading">Thali</div>
                        <ul class="filter-l">
                            <li><label><input type="checkbox">Special-thali</label></li>
                            <li><label><input type="checkbox"> Non-veg thali</label></li>
                            <li><label><input type="checkbox"> Veg thali</label></li>
                        </ul>
                    </div>
                    <div class="f-box">
                        <div class="heading">South Indian</div>
                        <ul class="filter-l">
                            <li><label><input type="checkbox"> Masala Dosa</label></li>
                            <li><label><input type="checkbox"> Onion Dosa</label></li>
                        </ul>
                    </div>
                    <div class="f-box">
                        <div class="heading">Chinese</div>
                        <ul class="filter-l">
                            <li><label><input type="checkbox"> Dim Sums</label></li>
                            <li><label><input type="checkbox"> Quick Noodles</label></li>
                            <li><label><input type="checkbox"> Szechwan Chilli Chicken</label></li>
                            <li><label><input type="checkbox"> Spring Rolls</label></li>
                            <li><label><input type="checkbox"> Stir Fried Tofu with Rice</label></li>
                            <li><label><input type="checkbox"> Shitake Fried Rice with Water Chestnuts</label></li>
                            <li><label><input type="checkbox"> Chicken with Chestnuts</label></li>
                        </ul>
                    </div>

                    <div class="f-box">
                        <div class="heading">Thali</div>
                        <ul class="filter-l">
                            <li><label><input type="checkbox">Special-thali</label></li>
                            <li><label><input type="checkbox"> Non-veg thali</label></li>
                            <li><label><input type="checkbox"> Veg thali</label></li>
                        </ul>
                    </div>
                </div>
                <div class="device-listing">
                    {% for product in products %}
                        <div class="card">
                            <div class="device-img">
                                <img src="{{ product.img.url }}">
                            </div>
                            <div class="device-name"> {{ product.name }}
                                <span class="device-price">Rs.{{ product.price }}</span>
                            </div>
                            <div class="device-rating">Rating</div>
                            <div class="device-compare"><a href="/details/{{ product.slug }}">Compare</a></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer-box">
            <ul class="social-icons">
                <li class="facebook-l"><a href="#">F</a></li>
                <li class="instagram-l"><a href="#">I</a></li>
                <li class="linkdin-l"><a href="#">L</a></li>
                <li class="twitter-l"><a href="#">T</a></li>
            </ul>
        </div>
        <div class="footer-links">
            <ul class="footer-list">
                <li><a href="#">About us</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Career</a></li>
                <li><a href="#">Terms & Condition</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
    </footer>
{% endblock %}