body {
	margin: 0;
	padding: 0;
	font-family:arial
}

.main-body{
	margin: 0;
	padding: 0;
	background-color: #fff;
	line-height: 30px;
}

.header{
	width: 100%;
	height: auto;
	display: block;
	background-color: #f9f9f9;
}
.section{
	width: 100%;
	height: auto;
	display: block;
}
.footer{
	    width: 100%;
    height: auto;
    display: block;
    background-color: #bec0c2;
    margin-top: 100px;
}


/*start-search-box-header */
..discount-logo a{text-decoration:none;}

.search-box {
	width: auto;
	height: 37px;
	float: left;
	background-color: #f9f9f9; margin: 0 0 0 100px;
}

.header-logo {
width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
	    box-sizing: border-box;
		background-color: #f2f2f2;
}
.
a.discount-logo{text-decoration:none; font-size:20px}
.discount-logo {
	float: left;
	display: block;
	padding: 5px 10px;
}
.dropdown{width:auto;
    height: auto;
    float: left;}
.dropdown .dropbtn {
  font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 0 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    position: relative;
    background-color: #dc2626;
    line-height: 38px;
  }
  
  .dropdown:hover .dropbtn {
    background-color: red;
  }
  .dropdown-content {
    display: none;
    padding: 6px 10px 10px 10px;
    position: absolute;
    background-color: #ffffff;
    width:400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content ul{margin: 0 4px 0 0; padding:0;list-style:none; float:left;}
  .dropdown-content ul li{display: block;}
  .dropdown-content ul li a {
    float: none;
    color: black;
    padding: 3px 9px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size:13px;
  }
  .dropdown-content ul li a.list-heading{    color: #db2626;
    font-size: 15px !important;
    border: 1px solid #dedede;
    background-color: #f9f9f9;
    border-radius: 20px;
    text-align: center;}
  
  
  .dropdown-content ul li a:hover {
  
    color: #3a7ec9;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
.search-input{width: 400px;
float: left;
height: auto;
line-height: 37px;
padding: 0 0 0 9px;
border: 1px solid #ccc;}
a.srch-btn{display: inline-block;
    line-height: 38px;
    background-color: #6a38b2;
    padding: 0 15px;
    color: #fff;
    text-decoration: none;}
	.top-header{width:100%; height:auto;box-sizing:content-box}
	ul.login-box{margin:0; padding:0; list-style:none;float: right;}
	ul.login-box li{ display: inline-block;
    padding: 0px 10px;
    float: left;}
	ul.login-box li a{text-decoration:none;font-size:14px}

/*end-search-box-header*/


/*start-slider*/
.slider{width:100%; height:auto;box-sizing:content-box}
.slider-img{width:100%; height:auto;box-sizing:content-box}
/*end-slider*/

/*start-product-list*/
.content-box{     height: auto;
    box-sizing: content-box;
       width: 100%;    display: flow-root;}
.product-list{width:100%; height:auto;box-sizing:content-box;}


/*end-product-list*/
/*start-product-nav*/
.product-box{    display: block;}
.product-nav{
    display: block;
    background-color: #ece7e7;
    padding: 10px;}
.product-nav h2{    font-size: 14px;
    margin: 0;}
	.product-nav h2 a{text-decoration:none; font-size:14px;    color: #444040;}
	.product-nav h2 a.view-all{display:block; float:right; padding:0 9px; background-color:#f97a7a; color:#fff}
	.product-nav h2 a.view-all:hover{background-color:#dc2626;}
/*end-product-nav*/


/*strat-item-box*/
.item-box{    width: 20%;
    box-sizing: border-box;
    display: inline-block;
    border-right:1px solid #fff;
    text-align: center;
    float: left;    background-color: #f5f5f5;}
	.item-box:last-child{  border-right:none;}
.item-box span.item-name{display:block; font-size:13px;}
.item-box span.item-price{display:block; font-size:14px;}
.item-box .item-img{    width: 127px;
    height: 100px;}
.item-box span.item-rating{display:block;font-size:14px}
.item-box span.item-compare{display: block;
    font-size: 15px;
    width: auto;
    height: auto;
    background-color: #dc2626;
    color: #fff;
    cursor: pointer;}
.item-box span.item-compare:hover{background-color:#ef3f3f}
/*end-item-box*/

/*start-footer*/
.footer-links{    Width: 50%;    background-color: #3f3c3c;
    height: auto;
    display: block;
    float: left;}
ul.footer-list{margin:0; padding:0; list-style:none;float: right;}
ul.footer-list li{ display: inline-block;
    padding: 0px 10px;
    float: left;}
ul.footer-list a{text-decoration:none;font-size:14px;    color: #ccc;}
/*end-footer*/

/*footer-social-start*/
.footer-box{width: 50%;
    height: auto;
    display: block;
        background-color: #3f3c3c;
    float: left;}

.footer-box ul.social-icons {margin:0; padding:0; list-style:none;    float: right;}
.footer-box ul.social-icons li { display: inline-block;
    padding: 0px 10px;
    float: left;}
.footer-box ul.social-icons li a{text-decoration:none;font-size: 14px;    color: #fff;}
.footer-box ul.social-icons li.facebook-l{background-color: #333;}
.footer-box ul.social-icons li.instagram-l{background-color: #e93f1e;}
.footer-box ul.social-icons li.linkdin-l{background-color: #4779f7;}
.footer-box ul.social-icons li.twitter-l{background-color: #34d9f9;}
/*footer-social-end*/


/*start-product-detail*/
.product-container{height: auto;
    box-sizing: content-box;
    width: 100%;
    display: flow-root;background-color: #fcfbfb;}
.buy-now-btn{    border: none;
    background-color: #dc2626;
    font-size: 18px;
    padding: 7px 15px;
    color: #fff;
    float: right;
    margin-right: 3px;
    display: inline;}
.product-b{display: block;
    padding: 20px;}
.product-full-image{width: 360px;
    box-sizing: unset;
    float: left;
    border:1px solid #efeeee;
    margin: 0 10px 0 0;
    text-align: center;
    background-color: #fff;}
	.product-full-image img{width:300px;height:300px}
.product-detail{float: left;width: 60%;}
.mobile-price{font-size: 21px;
    font-weight: bold;}
ul.ul-list{margin:0; padding:0;list-style:none;}
ul.ul-list li{display:block; }
.product-name{font-size:16px; color:#333}

.small-image{width:auto; position:absolute;}
.small-image-a{position: relative;
    border-bottom: 1px solid #efeeee;
    border-right: 1px solid #efeeee;}
.small-image-a img{width:50px; height:50px; vertical-align: middle;}
/*end-product-detail*/
/*start-product-list*/
.brand-product-list {width:100%; position:relative;} 

/*end-product-list*/


/*start-mobile-description*/
.product-specification{width: 100%;
    height: auto;
    box-sizing: content-box;
    border: 1px solid #efeeee;
    padding: 10px;
    background-color: #fff;}
.product-specification .heading1{font-size: 18px;
    border-bottom: 1px solid #efeeee;
    padding: 0px 10px 10px 0px;
    font-weight: bold;}
.mobiledevice{width:100%; height:auto;box-sizing:content-box; border:1px solid #ccc}
.mobiledevice .heading1{font-size:15px; border-bottom:1px solid #ccc; text-align:right;}
table.description-detail{border-bottom: 1px solid #efeeee;    padding-bottom: 14px;}
table.description-detail tr{margin:0; padding:0; border:none;}
table.description-detail td:first-child{width:20%; float:left;}
table.description-detail  td{padding: 0 10px 0 0;}
.heading2{font-size: 15px;
    font-weight: bold;
    color: #6a38b2;
    padding: 14px 0 0 0;}
	
	
	
	
/*end-mobile-description*/


/*start-breadcrumb*/
.breadcrumb-box{display:block;}
.breadcrumb-box ul.breadcrumb {
    padding: 0px 16px;
    list-style: none;
    background-color: #eee;
 }
.breadcrumb-box ul.breadcrumb li {
  display: inline;
  font-size: 12px;
}
.breadcrumb-box ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
.breadcrumb-box ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
.breadcrumb-box ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/*end-breadcrumb*/


/*start-nav*/
nav{width:100%; height:auto; box-sizing:content-box;float:left }
nav ul.menu-n{margin:0; padding:0;list-style:none;}
nav ul.menu-n li{display:block;  float:left; background-color:#fff}
nav ul.menu-n li a{float: left;
    text-decoration: none;
    padding: 5px 9px;
    color: #535050;
    font-size: 13px;}
nav ul.menu-n li a:hover{    background-color: #ececec;
    color: #dc2626;}
nav ul.menu-n li.active a{background-color:#dc2626; color:#fff}

/*end-nav*/


/*start-listing-filter*/
.filter-box{width:300px; height:auto;  border:1px solid #ccc;float:left;}
ul.filter-l{width:100%; margin:0; padding: 0 12px; list-style:none;}
ul.filter-l li{display: block;
    line-height: 25px;
    font-size: 13px;}
ul.filter-l li a{text-decoration:none; color:#ccc; }
.f-box{}
.f-box .heading{font-size: 16px;padding: 0 12px;background-color: #f6f3f3;
    color: #4d4d4d;}
.filter-box-heading{font-size: 16px;

padding: 0 0 0 10px;

border-bottom: 1px solid #ccc;

font-weight: bold;

color: #ce1657;}


/*end-listing-filter-*/


/*start-device-listing*/
.brand-product-list{width:100%; height:auto; }
.device-listing{width: 70%;
    height: auto;
   
    position: relative;
    float: left;}
.card{    width: 100%;
    height: auto;
    float: left;
    box-sizing: content-box;
    border: 1px solid #ccc;
    text-align: center;
    margin: 0 0 3px 4px;
    position: relative;}
.card .device-name{font-size: 19px;
    padding: 9px 0 0 6px;
    float: left;}
.card .device-price{}
.card .device-img{display: inline-block;float: left;}
.card .device-rating{display: block;    padding: 24px 0 0 0;}
.card .device-price{display:block;}
.card .device-img img{    width: 215px;
    height: 130px;
    margin: 6px 6px 0 6px; }
.device-compare a{ text-decoration: none;
    background-color: #dc2626;
    padding: 6px 11px;
    color: #fff;}

/*end-device-listing*/

/*start-compare*/
.card1{    width: 49%;
    height: auto;
    float: left;
    box-sizing: content-box;
    border: 1px solid #ccc;
    text-align: left;
    margin: 0 0 3px 4px;
    position: relative;}
.card1 .device-name{font-size: 16px;
    padding: 6px 0 0 17px;
    }
.card1 .device-price{    display: block;
    color: #687ed1;
    font-size: 15px;
  }
.card1 .device-img{display: inline-block;float: left;}
.card1 .device-rating{display: block;    padding: 0 0 0 0;}
.card1 .device-price{display:block;}
.card1 .device-img img{    width: 215px;
    height: 120px;
    margin: 6px 6px 0 6px; }
.card1 .device-compare a{    text-decoration: none;
    background-color: #dc2626;
    padding: 6px 11px;
    color: #fff;}
	.device-compare img{ width:90px; height:22px;}

/*end-compare*/
